body,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #6a5acd; */
}
h1, h2 {
  color: white;
  padding: 16px;
}
table,
th,
td {
  border: 1px solid black;
  background-color: white;
  margin: 16px;
}
th {
  background-color: #e6e6fa;
}
.content-create a {
  width: fit-content;
  color: white;
  padding: 16px;
  border-radius: 16px;
}
.content-read a {
  width: fit-content;
  color: white;
  padding-bottom: 8px;
  border-radius: 16px;
}
.content-read td a {
  color: black;
}

.links {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
  padding: 4px;
}
.index-read {
  width: 600px;
  margin: 0 auto;
  background-color: #6495ed;
  border-radius: 16px;
  padding: 16px;
}
.content-read {
  width: 800px;
  margin: 0 auto;
  background-color: #6495ed;
  border-radius: 16px;
}
.content-read table {
  margin: 0 auto;
  position: relative;
}
.content-create {
  width: 400px;
  margin: 0 auto;
  background-color: #6495ed;
  border-radius: 16px;
}
.content-create form {
  /* width: 400px; */
  display: inline-flexbox;
  /* text-align: end; */
  justify-self: center;
  margin: 16px;
  padding: 16px;
  background-color: #e6e6fa;
  border-radius: 16px;
}
.content-create input,
textarea {
  display: block;
  background-color: white;
}
