<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar edição</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'AppCRUD/css/style.css' %}">
</head>

<body>
    <div class="content-create">
        <h1>Adicionar uma nova linguagem</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Salvar</button>
        </form>
        <a class='links' href="{% url 'url_listar_linguagens' %}">Voltar</a>
    </div>
</body>

</html>